<ul class="nav nav-pills nav-fill p-2">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" [routerLink]="['/item']" href="#"><i class="bi bi-house"></i> CRUD de Items</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" placement="bottom"  ngbTooltip="User: admin & Pass: admin" href="http://localhost:3000/d/RnWdiaH4z/item-controller-springboot?orgId=1"><i class="bi bi-graph-up"></i> Real Time - Grafana </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" href="/swagger-ui/index.html"><i class="bi bi-info-circle"></i> Documentación Open API v3</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/jltrevizon"><i class="bi bi-linkedin"></i> Jose Luis Trevizon</a>
  </li>
</ul>
<br/>
<h2>Listado de Items</h2>
<app-popup></app-popup>

<table class="table table-bordered">
   <thead>
       <tr>
           <th>ID</th>
           <th>Nombre</th>
           <th>Requiere Refrigeración</th>
           <th>Capacidad</th>
           <th>Tipo de empaque</th>
           <th>Action</th>
       </tr>
   </thead>
   <tbody>

    <tr *ngFor="let item of itemList">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.requireFridge ? 'Sí' : 'No'}}</td>
        <td>{{item.capacity}}</td>
        <td>{{item.packagingType}}</td>
        <td><a class="btn btn-primary" (click)="edit(item.id)" >Modificar</a> | <a class="btn btn-danger" (click)="delete(item.id)" >Borrar</a></td>

    </tr>

   </tbody>
</table>
