<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Data de Item</h4>
        <button type="button" #closebtn class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="itemForm" (ngSubmit)="saveItem()">
            <div class="mb-3">
                <label>ID</label>
                <div class="input-group">
                    <input name="id" class="form-control" formControlName="id">
                </div>
            </div>
            <div class="mb-3">
                <label>Nombre</label>
                <div class="input-group">
                    <input name="name" class="form-control" formControlName="name">
                </div>
                <span *ngIf="fName && fName.invalid" class="errormessage">Ingrese un nombre valido</span>
            </div>
            <div class="mb-3">
                <label>Requiere Refrigeración</label>
                <div class="input-group">
                    <input type="checkbox" [checked]="!!fRequireFridge?.value" name="requireFridge" class="form-check-input" formControlName="requireFridge">
                </div>

            </div>
            <div class="mb-3">
                <label>Capacidad</label>
                <div class="form-check">
                    <input type="radio" value="10" name="capacity" [checked]="fCapacity?.value == 10" class="form-check-input" id="radioBotella" formControlName="capacity">
                    <label class="form-check-label" for="radioBotella">
                      10 gr
                    </label>
                </div>
                <div class="form-check">
                    <input type="radio" value="100"  name="capacity" [checked]="fCapacity?.value == 100" class="form-check-input" id="radioCaja" formControlName="capacity">
                    <label class="form-check-label" for="radioCaja">
                      100 gr
                    </label>
                </div>
            </div>

            <div class="mb-3">
                <label>Tipo de empaque</label>
                <div class="input-group">
                    <select class="form-control" formControlName="packagingType" >
                        <option *ngFor="let item of packaging_type" value="{{item}}">{{item}}</option>
                    </select>
                </div>
            </div>

            <div class="mb-3">

                <div class="input-group">
                    <button [disabled]="itemForm.invalid" type="submit" class="btn btn-primary">Guardar</button>
                </div>

                <span [ngClass]="error_class" >{{error_message}}</span>

            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button style="display: none;" type="button" class="btn btn-outline-dark"
            (click)="modal.close('Guardar click')">Guardar</button>
    </div>
</ng-template>

<button class="btn btn-success" #popupbtn id="popupbtn" (click)="open()">Nuevo item</button>

<hr>

<pre></pre>
